
p.info {
	font-size: small;
	background-color: #dfdfdf;
	color: navy;
}

p {
	color: navy;
}

h1 {
	background-color: #7f7fcf; 
	color: white;
	text-shadow: 2px 2px navy;
}

h2 {
	border: solid 1px black;
	margin: 5px;
	font-family: cursive;
	color: #3f3faf;
	background: linear-gradient(white, #ffefaf);
}

div#zentai {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 10px;
	width: 1024px;
	height: 200px;
}

div#zentai > div {
	background-color: #ffefaf;
	padding: 5px;
}

img.firefox-icon {
	float: left;
}
