p.info {
	font-size: small;
	background-color: #dfdfdf;
	color: navy;
	padding: 5px;
}

p {
	color: navy;
}

h1 {
	color: white;
	text-shadow: 2px 2px navy;
	background-color: #7f7fcf;
	padding: 10px;
}

h2 {
	font-family: cursive;
	color: #3f3faf;
	background: linear-gradient(white, #ffefaf);
	border: 1px solid black;
	padding: 5px;
	box-sizing: border-box;
	width: 100%;
}

div#zentai {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 10px;
	width: 1024px;
	height: 200px;
}

div#zentai > div {
	background-color: #ffefaf;
	padding: 5px;
	box-sizing: border-box;
	overflow: auto;
}

div#zentai > div img {
	float: right;
	width: 48px;
	height: auto;
	margin-left: 10px;
}
